.header{
    width:100%;
    position: sticky;
    left: 0;
    top: 0;
    background: #fff;
    z-index: 99;
}
.head{
    width:100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 1.2em;
}
.head-line{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.head-line img{
    width:100px;
}
.menus{
    display: flex;
    justify-content: center;
    align-items:center;
    border-top: 1px solid #eee;
    border-bottom:1px double #eee;
    flex-wrap:wrap;
    font-size:16px;
    position: relative;
}
.menus button{
    border:none;
    background:none;
    margin:5px;
}
.menus_line{
    position: absolute;
    bottom:0px;
    height: 2px;
    background: #1100D7;
    transition: 0.4s ease-in-out;
}
.fas{
    font-size:1.2em;
}
.searchWrap{
    text-align: right;
}
/*사이드바*/
.hide{
    display: none;
}
.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #1100D7;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.side-menu-list button {
    margin: 5px;
    border: none;
    background: none;
    width: 120px;
    color:#fff;
}
#searchInput--Wrap .closebtn,
.side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none;
    background: none;
}
.side-menu .closebtn{
    color:#fff;
}
.icon-button{
    cursor: pointer;
}  
.side-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    border:none;
    gap:5px;
}
  
.side-menu-list button:hover {
    text-decoration: underline;
}

#searchInput--Wrap{
    display: none;
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height: 100vh;
    background-color: rgba(255,255,255,0.9);
    z-index:999;
}
.searchLayout{
    width:70%;
    height: 40px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    display: flex;
}
#searchInput--Wrap input{
    flex:1 1 auto;
}
.searchLayout .fa-search{
    border:none;
    background: none;
    font-size:30px;
}
@media screen and (max-width: 63rem) {
    .head{
        height: 50px;
    }
    .hide {
        display: inline;
    }
    .main-menus {
        display: none;
    }
    .col-lg-8{
        padding-top:1.2em;
    }
}
.contain{
    width:100%;
    padding: 1em 2em;
    background:#f7f7f7;
}
#news-board{
    width:100%;
    max-width:1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin:0 auto;
}
.news .col-lg-4{
    position: relative;
}
.news .col-lg-4::before{
    position: relative;
    width: 100%;
    padding-top: 76%;
    content: '';
    display: block;
    min-width: 100%;
}
.news-img-size{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    display: block;
}
.news{
    width:100%;
    padding: 1.2em 1em;
    background:#fff
}
.news h2,
.news p{
    white-space: normal;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.38;
    letter-spacing: -0.3px;
    overflow: hidden;
    width: 100%;
}
.news h2{  
    font-size: 1.4em;
    font-weight: 500;
}
.news p{
    font-size: 1em;
    font-weight: 400;
}
.col-lg-8{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav{
    width:100%;
    display: flex;
    justify-content: center;
    padding: 1.2em 0;
}
.page-item {
    cursor: pointer;
}
.page-item.active >.page-link, .page-item .page-link.active{
    background-color: #222;
    border-color: #222;
    color:#fff;
}
.page-item .page-link{
    color: #222;
}